<p id="notice"><%= notice %></p>

<p>
  <%= link_to "Leave your message", new_message_path %>
</p>

<% @messages.each do |message| %>
  <%= link_to message do %>
    <p><%= message.name %></p>
    <p><%= message.content %></p>
    <% if message.image.attached? %>
      <%= image_tag message.image, height: "256", width: "256" %>
    <% end %>
  <% end %>
<% end %>
