<header class="headline">
  <a href="<%= messages_path %>" class="link-back" title="Back">
    <svg class="icon"><use xlink:href="#icon-arrow-left"></use></svg>
  </a>
  <h1>Message</h1>
</header>

<div class="wrapper">
  <p class="notice"><%= notice %></p>

  <section class="message-preview">
    <p>
      <strong>From:</strong>
      <%= @message.name %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @message.created_at.strftime("%d/%m/%Y") %>
    </p>

    <p>
      <strong>Message:</strong>
      <br>
      <%= @message.content %>
    </p>

    <% if @message.image %>
      <p>
        <%= cl_image_tag(
          @message.image.external_id,
          sign_url: true,
          width: 1500,
          height: 1500,
          crop: :limit,
          fetch_format: :auto,
          quality: :auto
        ) %>
      </p>
    <% end %>

    <% if current_user && (current_user.id == @message.user_id || current_user.admin) %>
      <div class="actions">
        <%= link_to 'Edit', edit_message_path(@message), class: "btn btn-sm btn-default" %>
        <%=
          link_to 'Delete', message_path(@message), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger"
        %>
      </div>
    <% end %>
  </section>
</div>
