<!DOCTYPE html>
<html>
  <head>
    <title>Rémi Memorial Page</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="page-header">
      <nav class="page-nav">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About Rémi", about_path %></li>

          <% if current_user %>
            <li><%= link_to "My Messages", my_messages_path %></li>
            <li><%= link_to "Log Out", "/auth/logout", method: "delete" %></li>
          <% else %>
            <li><%= link_to "Log In", "/auth/auth0" %></li>
          <% end %>
        </ul>
      </nav>

      <h1>In loving memory<br>of Rémi Barraquand</h1>
    </header>

    <article class="page-content">
      <%= yield %>
    </article>
  </body>
</html>
