<!DOCTYPE html>
<html>
  <head>
    <title>Rémi Memorial Page</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="page-header">
      <nav class="page-nav">
        <%= link_to "Home", root_path %>
        <%= link_to "About Rémi", about_path %>

        <% if current_user %>
          <%= link_to "My Messages", my_messages_path %>
          <%= link_to "Logout", "/auth/logout", method: "delete" %>
        <% else %>
          <%= link_to "Register or log in", "/auth/auth0" %>
        <% end %>
      </nav>

      <h1>In loving memory<br>of Rémi Barraquand</h1>
    </header>

    <article class="page-content">
      <%= yield %>
    </article>
  </body>
</html>
