<!DOCTYPE html>
<html>
  <head>
    <title>RemiMemorialApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="jumbotron text-center">
      <% if current_user %>
        <%= link_to "Logout", "/auth/logout", method: "delete" %>
      <% else %>
        <%= link_to "Register or log in", "/auth/auth0" %>
      <% end %>
    </section>

    <%= yield %>
  </body>
</html>
