<!DOCTYPE html>
<html>
  <head>
    <title>Rémi Memorial Page</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
    <%= render "layouts/icons" %>

    <header class="header">
      <nav class="nav">
        <ul>
          <li><%= link_to "Home", root_path, class: current_class?(root_path) %></li>
          <li><%= link_to "About Rémi", about_path, class: current_class?(about_path) %></li>

          <% if current_user %>
            <% if current_user.messages.any? %>
              <li><%= link_to "My Messages", my_messages_path, class: current_class?(my_messages_path) %></li>
            <% end %>
            <li><%= link_to "Log Out", "/auth/logout", method: "delete" %></li>
          <% else %>
            <li><%= link_to "Log In", "/auth/auth0" %></li>
          <% end %>
        </ul>
      </nav>

      <h1>In loving memory<br>of Rémi Barraquand</h1>
    </header>

    <article class="content">
      <%= yield %>
    </article>

    <footer class="footer">
      <strong>
        Will Always be Remembered
        <br>
        &#8226;&#8226;&#8226;
      </strong>
    </footer>
  </body>
</html>
